.patient-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  overflow: auto;
}

.container {
  width: 80%;
  max-width: 1200px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: relative;
  overflow-y: auto;
  max-height: 90vh;
}

.container h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  animation: fadeIn 2s ease-in-out;
}

.form-container, .list-container {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-group textarea {
  min-height: 80px;
  resize: vertical;
}

.back-button, .next-button {
  position: absolute;
  top: 20px;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 100;
  transition: background-color 0.3s ease;
  animation: slideIn 0.5s ease-out;
}

.back-button {
  left: 20px;
  background-color: #28a745;
}

.next-button {
  right: 20px;
  background-color: green;
}

.back-button:hover {
  background-color: #218838;
}

.next-button:hover {
  background-color: darkgreen;
}

table {
  width: 100%;
  border-collapse: collapse;
}

 td{
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}
tr{
  background-color: #ccc;
  color: black;
}

th {
  background-color: #007bff ;
  color: rgb(20, 19, 19);
  text-align: center;
}




.edit, .delete {
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  width: 100px;
  margin-left: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit {
  background-color: #28a745;
  
}

.edit:hover {
  background-color: #218838;
}

.delete {
  background-color: #dc3545;
  
}

.delete:hover {
  background-color: #c82333;
}

button[type="submit"] {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.cancel {
  background-color: #dc3545;
  margin-left: 10px;
}

.cancel:hover {
  background-color: #c82333;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-20px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}